<!doctype html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Nosi App{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/app/dashboard.css" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/app/sidebar.css') }}"
    />

    {% block styles %}{% endblock %}
  </head>

  <script>
    document.querySelectorAll("[data-glow]").forEach((btn) => {
      btn.addEventListener("mouseenter", () => {
        document.body.setAttribute("data-glow", btn.dataset.glow);
      });
    });
  </script>

  <body class="app-page">
    <div class="nf-orb nf-orb-1"></div>
    <div class="nf-orb nf-orb-2"></div>
    <div class="nf-orb nf-orb-3"></div>

    {% include "components/sidebar.html" %}

    <div class="main-content">
      {% include "components/topbar.html" %}

      <div class="page-content">{% block body %}{% endblock %}</div>

      {% include "components/footer.html" %}
    </div>

    {% block scripts %}{% endblock %}
  </body>
</html>
