<div class="modal-backdrop" id="change-password-modal">
  <div class="modal">
    <div class="modal-header">
      <h3>Змінити пароль</h3>
      <button class="modal-close" data-close-modal>&times;</button>
    </div>
    <div class="modal-body">
      <form id="form-change-password">
        <div class="modal-field">
          <label>Старий пароль</label>
          <input type="password" name="old_password" />
        </div>
        <div class="modal-field">
          <label>Новий пароль</label>
          <input type="password" name="new_password" />
        </div>
        <div class="modal-field">
          <label>Повторіть новий пароль</label>
          <input type="password" name="confirm_password" />
        </div>
        <button type="submit" class="modal-submit">Зберегти</button>
      </form>
    </div>
  </div>
</div>
