{% extends 'base.html' %}

{% block title %}
Саня все буде добре, не грусти
{% endblock %}

{% block body %}
<h1>Саня все буде добре, не грусти</h1>
<h6>Розрахунок сну:
    14-17 років - 9-10 годин сну
    18-25 років - 8-9 годин сну
    26-64 років - 7-8 годин сну
    65+ років - 6-7 годин сну
    Розрахунок калорій
    1. Базовий метаболізм (BMR)
    Формула Mifflin–St Jeor.
    Чоловіки:
    BMR = (10 × вага кг) + (6.25 × ріст см) − (5 × вік) + 5
    Жінки:
    BMR = (10 × вага кг) + (6.25 × ріст см) − (5 × вік) − 161
    2. Добова витрата енергії (TDEE)
    TDEE = BMR × коефіцієнт активності
    Коефіцієнти активності:
    майже немає руху — 1.2
    легка активність — 1.375
    середня активність — 1.46
    активний спосіб життя — 1.55
    дуже активний — 1.64
    спортсмен — 1.72–1.9
    Це калорії, необхідні для підтримання ваги.
    3. Калорії залежно від цілі
    Підтримання ваги:
    Calories = TDEE
    Схуднення:
    Calories = TDEE × 0.8 – 0.9
    Набір маси:
    Calories = TDEE × 1.1 – 1.15
    БЖУ (білки, жири, вуглеводи)
    Підтримання форми
    Білок = 1.6 г × вага
    Жири = 1 г × вага
    Вуглеводи = решта калорій
    Схуднення
    Білок = 1.8 – 2.2 г × вага
    Жири = 0.8 – 1 г × вага
    Вуглеводи = решта калорій
    Набір м'язів
    Білок = 1.6 – 2 г × вага
    Жири = 1 г × вага
    Вуглеводи = решта калорій
    Калорійність макронутрієнтів
    1 г білка = 4 ккал
    1 г вуглеводів = 4 ккал
    1 г жирів = 9 ккал
    Вода
    Рекомендована кількість води:
    30–35 мл × вага (кг)
    Наприклад:
    70 кг × 35 мл = 2450 мл ≈ 2.4 літра води на день.
    Клітковина
    25–30 г на день
    або
    14 г на кожні 1000 ккал.
    Основи створення плану тренувань
    Складання програми тренувань починається з визначення мети (схуднення, сила, рельєф або набір маси), оцінки свого
    графіка тренувань (2–5 разів на тиждень) і рівня підготовки.
    Ефективна програма тренувань повинна включати:
    розминку
    основну силову частину
    вправи на допоміжні м’язи
    заминку або розтяжку
    Частота тренувань
    Новачки:
    2–3 тренування на тиждень (Full Body — все тіло за одне тренування)
    Середній рівень:
    3–4 тренування на тиждень
    Досвідчені:
    4–5 тренувань на тиждень (спліт)
    Важливо: відпочинок між тренуваннями однієї м’язової групи повинен бути 1–3 дні.
    Структура одного тренування
    Тривалість тренування: приблизно 60 хвилин.
    5–10 хвилин — розминка (кардіо та мобільність)
    40–50 хвилин — силові вправи
    5–10 хвилин — заминка та розтяжка
    Основні принципи тренування
    Підходи: 3–5 на вправу
    Повторення:
    1–5 — сила
    6–12 — ріст м'язів
    12–15+ — витривалість або рельєф
    Прогресія навантаження:
    коли вправу стає легко виконувати, потрібно збільшувати вагу або кількість повторень.
    Щоб уникнути адаптації м’язів, бажано змінювати вправи або їх порядок кожні 3–4 тижні.
    Full Body тренування
    Новачкам рекомендується тренувати все тіло за одне тренування.
    Спочатку виконуються вправи на великі м’язові групи:
    ноги
    спина
    груди
    Потім — на менші:
    плечі
    руки
    прес
    Спліт тренування
    При більш високому рівні підготовки можна розділяти тренування на групи м’язів.
    Приклад спліту на 3 дні:
    День 1 — груди + плечі + трицепс
    День 2 — спина + біцепс + прес
    День 3 — ноги + поясниця
    Інший варіант:
    День 1 — груди + дельти
    День 2 — спина + руки
    День 3 — ноги
    Типи рухів у тренуваннях
    Тягнучі м’язи:
    ноги
    спина
    біцепс
    Штовхаючі м’язи:
    груди
    дельти
    трицепс
    Категорії вправ
    Верх тіла — штовхаючі рухи
    (віджимання, жим лежачи, жим гантелей)
    Верх тіла — тягнучі рухи
    (підтягування, тяги, гребля)
    Ноги — квадрицепси
    (присідання, випади)
    Задня частина тіла
    (мертва тяга, гіперекстензії, тазовий міст)
    Додаткові тренування
    У програму також бажано додавати:
    вправи на прес (core)
    вправи на хват
    вправи на стабілізацію плечей
    вправи для мобільності і розтяжки
    Параметри тренувань залежно від цілі
    Сила
    вага: 80–100% від максимуму
    повторення: 3–5
    підходи: 3–5
    відпочинок: 2–5 хвилин
    Набір м’язової маси
    вага: 60–80% від максимуму
    повторення: 6–8
    підходи: 3–5
    відпочинок: 30–90 секунд
    Рельєф / корекція фігури
    вага: 40–60% від максимуму
    повторення: 10–15
    підходи: 2–3
    відпочинок: 20–30 секунд
    Важливий принцип
    М’язи ростуть не під час тренування, а під час відновлення — особливо під час сну. Тому правильне харчування,
    достатній сон і регулярні тренування є ключовими для прогресу
    Розрахунок сну: 14-17 років - 9-10 годин сну 18-25 років - 8-9 годин сну 26-64 років - 7-8 годин сну 65+ років - 6-7
    годин сну Розрахунок калорій 1. Базовий метаболізм (BMR) Формула Mifflin–St Jeor. Чоловіки: BMR = (10 × вага кг) +
    (6.25 × ріст см) − (5 × вік) + 5 Жінки: BMR = (10 × вага кг) + (6.25 × ріст см) − (5 × вік) − 161 2. Добова витрата
    енергії (TDEE) TDEE = BMR × коефіцієнт активності Коефіцієнти активності: майже немає руху — 1.2 легка активність —
    1.375 середня активність — 1.46 активний спосіб життя — 1.55 дуже активний — 1.64 спортсмен — 1.72–1.9 Це калорії,
    необхідні для підтримання ваги. 3. Калорії залежно від цілі Підтримання ваги: Calories = TDEE Схуднення: Calories =
    TDEE × 0.8 – 0.9 Набір маси: Calories = TDEE × 1.1 – 1.15 БЖУ (білки, жири, вуглеводи) Підтримання форми Білок = 1.6
    г × вага Жири = 1 г × вага Вуглеводи = решта калорій Схуднення Білок = 1.8 – 2.2 г × вага Жири = 0.8 – 1 г × вага
    Вуглеводи = решта калорій Набір м'язів Білок = 1.6 – 2 г × вага Жири = 1 г × вага Вуглеводи = решта калорій
    Калорійність макронутрієнтів 1 г білка = 4 ккал 1 г вуглеводів = 4 ккал 1 г жирів = 9 ккал Вода Рекомендована
    кількість води: 30–35 мл × вага (кг) Наприклад: 70 кг × 35 мл = 2450 мл ≈ 2.4 літра води на день. Клітковина 25–30 г
    на день або 14 г на кожні 1000 ккал. Основи створення плану тренувань Складання програми тренувань починається з
    визначення мети (схуднення, сила, рельєф або набір маси), оцінки свого графіка тренувань (2–5 разів на тиждень) і
    рівня підготовки. Ефективна програма тренувань повинна включати: розминку основну силову частину вправи на допоміжні
    м’язи заминку або розтяжку Частота тренувань Новачки: 2–3 тренування на тиждень (Full Body — все тіло за одне
    тренування) Середній рівень: 3–4 тренування на тиждень Досвідчені: 4–5 тренувань на тиждень (спліт) Важливо:
    відпочинок між тренуваннями однієї м’язової групи повинен бути 1–3 дні. Структура одного тренування Тривалість
    тренування: приблизно 60 хвилин. 5–10 хвилин — розминка (кардіо та мобільність) 40–50 хвилин — силові вправи 5–10
    хвилин — заминка та розтяжка Основні принципи тренування Підходи: 3–5 на вправу Повторення: 1–5 — сила 6–12 — ріст
    м'язів 12–15+ — витривалість або рельєф Прогресія навантаження: коли вправу стає легко виконувати, потрібно
    збільшувати вагу або кількість повторень. Щоб уникнути адаптації м’язів, бажано змінювати вправи або їх порядок
    кожні 3–4 тижні. Full Body тренування Новачкам рекомендується тренувати все тіло за одне тренування. Спочатку
    виконуються вправи на великі м’язові групи: ноги спина груди Потім — на менші: плечі руки прес Спліт тренування При
    більш високому рівні підготовки можна розділяти тренування на групи м’язів. Приклад спліту на 3 дні: День 1 — груди
    + плечі + трицепс День 2 — спина + біцепс + прес День 3 — ноги + поясниця Інший варіант: День 1 — груди + дельти
    День 2 — спина + руки День 3 — ноги Типи рухів у тренуваннях Тягнучі м’язи: ноги спина біцепс Штовхаючі м’язи: груди
    дельти трицепс Категорії вправ Верх тіла — штовхаючі рухи (віджимання, жим лежачи, жим гантелей) Верх тіла — тягнучі
    рухи (підтягування, тяги, гребля) Ноги — квадрицепси (присідання, випади) Задня частина тіла (мертва тяга,
    гіперекстензії, тазовий міст) Додаткові тренування У програму також бажано додавати: вправи на прес (core) вправи на
    хват вправи на стабілізацію плечей вправи для мобільності і розтяжки Параметри тренувань залежно від цілі Сила вага:
    80–100% від максимуму повторення: 3–5 підходи: 3–5 відпочинок: 2–5 хвилин Набір м’язової маси вага: 60–80% від
    максимуму повторення: 6–8 підходи: 3–5 відпочинок: 30–90 секунд Рельєф / корекція фігури вага: 40–60% від максимуму
    повторення: 10–15 підходи: 2–3 відпочинок: 20–30 секунд Важливий принцип М’язи ростуть не під час тренування, а під
    час відновлення — особливо під час сну. Тому правильне харчування, достатній сон і регулярні тренування є ключовими
    для прогресу</h6>
{% endblock %}