<!doctype html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} — NosiFit</title>

    <link rel="stylesheet" href="/static/css/auth/auth.css" />
  </head>

  <body>
    <div class="auth-container">
      <div class="auth-header">
        <h1 class="auth-header-title">
          {% block header_title %}{% endblock %}
        </h1>
      </div>

      <div class="auth-body">{% block body %}{% endblock %}</div>
    </div>
  </body>
</html>
