<!doctype html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <title>Вхід — NOSI FIT</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/auth/login.css" />
  </head>
  <body>
    <div class="bg"></div>
    <div class="orb orb-1"></div>
    <div class="orb orb-2"></div>
    <div class="orb orb-3"></div>

    <div class="auth-card">
      <div class="brand">
        <img src="/static/img/Nosi_Logo.png" class="brand-icon" alt="logo" />
        <h1 class="brand-title">
          <span class="nos">NOSI</span><span class="fit">FIT</span>
        </h1>
      </div>

      <h2 class="title">Вхід у акаунт</h2>

      <form method="POST" class="form">
        <div class="field">
          <label>Електронна пошта</label>
          <input
            type="email"
            name="email"
            placeholder="example@gmail.com"
            required
          />
        </div>

        <div class="field pass-wrap">
          <label>Пароль</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Ваш пароль"
            required
          />
          <button
            type="button"
            class="toggle"
            onclick="togglePass('password', this)"
          >
            Показати
          </button>
        </div>
        <button
          class="forgot-btn"
          type="button"
          onclick="window.location.href = '/auth/forgot'"
        >
          Забув пароль або пошту?
        </button>

        <div class="oauth-box">
          <button class="oauth-btn google" type="button">
            <img src="/static/img/google.svg" alt="" />
            Увійти через Google
          </button>

          <button class="oauth-btn github" type="button">
            <img src="/static/img/github.svg" alt="" />
            Увійти через GitHub
          </button>
        </div>

        <div class="divider"><span>або</span></div>

        <button class="btn" type="submit">Увійти</button>
      </form>

      <div class="bottom">
        Немає акаунта? <a href="/auth/register">Створити</a>
      </div>
    </div>

    <script>
      function togglePass(id, btn) {
        const input = document.getElementById(id);
        if (input.type === "password") {
          input.type = "text";
          btn.textContent = "Приховати";
        } else {
          input.type = "password";
          btn.textContent = "Показати";
        }
      }

      const btn = document.querySelector(".btn");

      btn.addEventListener("mouseenter", () => {
        document.body.classList.add("btn-hover");
      });

      btn.addEventListener("mouseleave", () => {
        document.body.classList.remove("btn-hover");
      });
    </script>
  </body>
</html>
