<link rel="stylesheet" href="/static/css/auth/reset_password.css" />
{% endblock %} {% block body %}

<div class="auth-card">
  <div class="brand">
    <img src="/static/img/Nosi_Logo.png" class="brand-icon" alt="logo" />
    <h1 class="brand-title"><span>Nosi</span>Fit</h1>
    <p class="brand-subtitle">Відновлення доступу</p>
  </div>

  {% if error %}
  <div class="error-box">{{ error }}</div>
  {% endif %}

  <h2 class="auth-title">Скинути пароль</h2>

  <form method="POST" class="auth-form">
    <div class="input-group">
      <label>Email</label>
      <input
        type="email"
        name="email"
        placeholder="example@gmail.com"
        required
      />
    </div>

    <button type="submit" class="btn-primary">Надіслати лист</button>
  </form>

  <div class="auth-link">Повернутися до <a href="/auth/login">входу</a></div>
</div>
