/* HEADER */
header {
    position: sticky;
    top: 0;
    padding: 0px;
    background: rgb(176, 19, 19);
}

.header__img {
    height: 76px;
    width: 76px;
}

span {
    font-style: italic;
}


ol {
    list-style: lower-latin;
}

* {
    margin: 1.5px;
}